main {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 20em;
  color: var(--yellow);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

img {
  width: 300px;
}

p {
  font-size: 1.5em;
  color: var(--white);
}

p span {
  color: var(--yellow);
}

button {
  margin-top: 20px;
  font-size: 1.3em;
  padding: 10px;

  border: none;
  font-weight: bold;
  background: var(--yellow);
}

button:hover {
  cursor: pointer;
}
